@font-face {
  font-family: 'Ycomputer-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Ycomputer-Regular';
  background: url(../img/bg1.jpg) no-repeat  center center fixed;
  background-size: cover;
  min-height: 100%;
  background-position: center;
  background-size: cover;
} 
.header{
    display: flex;
    justify-content: flex-end;
}  
.closeBtn {
    background-color: rgb(83, 255, 138);
    color: black;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
    padding: 5px;
    margin:20px;
    cursor: pointer;
}

.container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-inner {
    border: 1px solid rgb(83, 255, 138);
    padding:20px;
    width:1000px;
    height: 500px;
    margin-top:50px;
  }

  .box1 {
    background-color:rgb(83, 255, 138);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .box1 span {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
  }

  .title {
    padding:10px;
    font-size: 30px;
    color:white;
    margin-top: 20px;
  }

  .write{
    font-size: 22px;
    color:white;
    padding:10px;
    margin-top: 20px;
  }
.pha1{
  font-size: 25px;
}

   /* 모바일 해상도 */
   @media screen and ( max-width: 767px ) 
   and ( orientation: portrait )
{
.header {
  width: 100%;

}

.container-outer {
width: 100%;

}

}

/* 태블릿 해상도 */
@media screen and (min-width: 768px)
   and (max-width: 959px)
{
.whole {
 height: auto;
 width: auto;
 margin:20px;
}
.box1 {
 width: 100%;
}
#myphoto {
 width: 100%;
 height: auto;

}.box2 {
 width: 100%;
 flex: 1;

}
.box2-1 {
 width: 100%;
 flex: 1;

}
.box3 {
 width: 100%;
 flex: 1;
}
.box4 {
 width: 100%;
 flex: 1;

}
.box5 {
 width: 100%;
 height: auto;
 flex:1;
}

}
