@font-face {
  font-family: 'Ycomputer-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Ycomputer-Regular';
}
  .container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container-inner {
    border: 1px solid rgb(83, 255, 138);
    padding:20px;
    width:1000px;
    height: auto;
    margin-top:50px;
    position: relative;
  }
  
  .photoBox {
    width: 1000px;  
    height: 500px;
  }

  .Images{
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 28%;
    padding: 16px;
    margin-top: -50px;
    color: rgb(83, 255, 138);
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 20px;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: black;
  }
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } 
  
  .column {
    width: 17%;
  }
  
  .preView {
    opacity: 0.6;
    width: 143px;
    height: 100px;
    object-fit: fill;
  }
  
  .active,
  .preView:hover {
    opacity: 1;
  }
  
  .writing {
    width: 1000px;
    height: auto;
    color: white;
    font-size: 20px;
    margin:10px;
  }
  
  .box1 {
    background-color:rgb(83, 255, 138);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .box1 span {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
  }
  
  .closeBtn {
    background-color: rgb(83, 255, 138);
    color: black;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
    padding: 5px;
    margin:20px;
    cursor: pointer;
  }
  
  .header{
    display: flex;
    justify-content: flex-end;
  }

  .link {
    color:rgb(83, 255, 138);
  }

  .write  {
    padding:5px 0px 5px 30px;
}

li {
  font-weight: bold;
  font-size: 23px;
  padding: 10px;
}
